.title {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  color: var(--mobile-text-strong);
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  padding-left: 4px;
  color: var(--mobile-header-chevron);
}
