@charset "utf-8";

.icons-container{align-content: start;
    display: grid;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(auto-fill, 96px);
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;    
    justify-content: space-between;
    row-gap: 24px;}

.bx-icon { width: 48px; height: 48px;}
.bx-icon span{display: block; }
/************************************ All Icons  ************************************/

/*----line Style-----*/
.bx-bell{ background: url(../images/icon/bx-bell.svg) no-repeat center !important; } 
.bx-book{ background: url(../images/icon/bx-book.svg) no-repeat center !important; } 
.bx-add{ background: url(../images/icon/bx-add.svg) no-repeat center !important; } 
.bx-calendar{ background: url(../images/icon/bx-calendar.svg) no-repeat center !important; } 
.bx-close{ background: url(../images/icon/bx-close.svg) no-repeat center !important; } 
.bx-delete{ background: url(../images/icon/bx-delete.svg) no-repeat center !important; } 
.bx-menu-open{ background: url(../images/icon/bx-menu-open.svg) no-repeat center !important; } 
.bx-reference-all{ background: url(../images/icon/bx-reference-all.svg) no-repeat center !important; } 
.bx-refresh{ background: url(../images/icon/bx-refresh.svg) no-repeat center !important; } 
.bx-settings{ background: url(../images/icon/bx-settings.svg) no-repeat center !important; } 
.bx-undo{ background: url(../images/icon/bx-undo.svg) no-repeat center !important; } 
.bx-add-box { background: url(../images/icon/bx-add-box.svg) no-repeat center !important; }
.bx-add-chart { background: url(../images/icon/bx-add-chart.svg) no-repeat center !important; }
.bx-attach-file { background: url(../images/icon/bx-attach-file.svg) no-repeat center !important; }
.bx-calculate { background: url(../images/icon/bx-calculate.svg) no-repeat center !important; }
.bx-calendar-clock { background: url(../images/icon/bx-calendar-clock.svg) no-repeat center !important; }
.bx-chart-data { background: url(../images/icon/bx-chart-data.svg) no-repeat center !important; }
.bx-chat { background: url(../images/icon/bx-chat.svg) no-repeat center !important; }
.bx-check-small { background: url(../images/icon/bx-check-small.svg) no-repeat center !important; }
.bx-check { background: url(../images/icon/bx-check.svg) no-repeat center !important; }
.bx-dark-mode { background: url(../images/icon/bx-dark-mode.svg) no-repeat center !important; }
.bx-data-table { background: url(../images/icon/bx-data-table.svg) no-repeat center !important; }
.bx-description { background: url(../images/icon/bx-description.svg) no-repeat center !important; }
.bx-dvr { background: url(../images/icon/bx-dvr.svg) no-repeat center !important; }
.bx-edit { background: url(../images/icon/bx-edit.svg) no-repeat center !important; }
.bx-error { background: url(../images/icon/bx-error.svg) no-repeat center !important; }
.bx-event-repeat { background: url(../images/icon/bx-event-repeat.svg) no-repeat center !important; }
.bx-file { background: url(../images/icon/bx-file.svg) no-repeat center !important; }
.bx-findpage { background: url(../images/icon/bx-findpage.svg) no-repeat center !important; }
.bx-folder-upload { background: url(../images/icon/bx-folder-upload.svg) no-repeat center !important; }
.bx-help { background: url(../images/icon/bx-help.svg) no-repeat center !important; }
.bx-history { background: url(../images/icon/bx-history.svg) no-repeat center !important; }
.bx-info { background: url(../images/icon/bx-info.svg) no-repeat center !important; }
.bx-language { background: url(../images/icon/bx-language.svg) no-repeat center !important; }
.bx-lock { background: url(../images/icon/bx-lock.svg) no-repeat center !important; }
.bx-mail { background: url(../images/icon/bx-mail.svg) no-repeat center !important; }
.bx-monitoringl { background: url(../images/icon/bx-monitoringl.svg) no-repeat center !important; }
.bx-move-group { background: url(../images/icon/bx-move-group.svg) no-repeat center !important; }
.bx-news { background: url(../images/icon/bx-news.svg) no-repeat center !important; }
.bx-open-infull { background: url(../images/icon/bx-open-infull.svg) no-repeat center !important; }
.bx-person-add { background: url(../images/icon/bx-person-add.svg) no-repeat center !important; }
.bx-phonelink { background: url(../images/icon/bx-phonelink.svg) no-repeat center !important; }
.bx-remove { background: url(../images/icon/bx-remove.svg) no-repeat center !important; }
.bx-screen-share { background: url(../images/icon/bx-screen-share.svg) no-repeat center !important; }
.bx-search-check { background: url(../images/icon/bx-search-check.svg) no-repeat center !important; }
.bx-search-insights { background: url(../images/icon/bx-search-insights.svg) no-repeat center !important; }
.bx-star { background: url(../images/icon/bx-star.svg) no-repeat center !important; }
.bx-sync-alt { background: url(../images/icon/bx-sync-alt.svg) no-repeat center !important; }
.bx-tab-move { background: url(../images/icon/bx-tab-move.svg) no-repeat center !important; }
.bx-table-view { background: url(../images/icon/bx-table-view.svg) no-repeat center !important; }
.bx-update { background: url(../images/icon/bx-update.svg) no-repeat center !important; }
.bx-visibility { background: url(../images/icon/bx-visibility.svg) no-repeat center !important; }
.bx-account-circle { background: url(../images/icon/bx-account-circle.svg) no-repeat center !important; }
.bx-analytics { background: url(../images/icon/bx-analytics.svg) no-repeat center !important; }
.bx-arrow-back { background: url(../images/icon/bx-arrow-back.svg) no-repeat center !important; }
.bx-arrow-forward { background: url(../images/icon/bx-arrow-forward.svg) no-repeat center !important; }
.bx-autorenew { background: url(../images/icon/bx-autorenew.svg) no-repeat center !important; }
.bx-backup { background: url(../images/icon/bx-backup.svg) no-repeat center !important; }
.bx-block { background: url(../images/icon/bx-block.svg) no-repeat center !important; }
.bx-cached{ background: url(../images/icon/bx-cached.svg) no-repeat center !important; }
.bx-chevron-right { background: url(../images/icon/bx-chevron-right.svg) no-repeat center !important; }
.bx-chevron-left { background: url(../images/icon/bx-chevron-left.svg) no-repeat center !important; }
.bx-chrome-reader-mode { background: url(../images/icon/bx-chrome-reader-mode.svg) no-repeat center !important; }
.bx-collections-bookmark { background: url(../images/icon/bx-collections-bookmark.svg) no-repeat center !important; }
.bx-create-new { background: url(../images/icon/bx-create-new.svg) no-repeat center !important; }
.bx-data-alert { background: url(../images/icon/bx-data-alert.svg) no-repeat center !important; }
.bx-download { background: url(../images/icon/bx-download.svg) no-repeat center !important; }
.bx-dvr { background: url(../images/icon/bx-dvr.svg) no-repeat center !important; }
.bx-event-available { background: url(../images/icon/bx-event-available.svg) no-repeat center !important; }
.bx-format-list { background: url(../images/icon/bx-format-list.svg) no-repeat center !important; }
.bx-library-add { background: url(../images/icon/bx-library-add.svg) no-repeat center !important; }
.bx-library-bookssvg { background: url(../images/icon/bx-library-bookssvg.svg) no-repeat center !important; }
.bx-menu { background: url(../images/icon/bx-menu.svg) no-repeat center !important; }
.bx-open-in-new { background: url(../images/icon/bx-open-in-new.svg) no-repeat center !important; }
.bx-open-with { background: url(../images/icon/bx-open-with.svg) no-repeat center !important; }
.bx-person-remove { background: url(../images/icon/bx-person-remove.svg) no-repeat center !important; }
.bx-quick-reference { background: url(../images/icon/bx-quick-reference.svg) no-repeat center !important; }
.bx-redo { background: url(../images/icon/bx-redo.svg) no-repeat center !important; }
.bx-search { background: url(../images/icon/bx-search.svg) no-repeat center !important; }
.bx-steppers { background: url(../images/icon/bx-steppers.svg) no-repeat center !important; }
.bx-sync-alt { background: url(../images/icon/bx-sync-alt.svg) no-repeat center !important; }
.bx-sync { background: url(../images/icon/bx-sync.svg) no-repeat center !important; }
.bx-task-alt { background: url(../images/icon/bx-task-alt.svg) no-repeat center !important; }
.bx-visibility-off { background: url(../images/icon/bx-visibility-off.svg) no-repeat center !important; }
.bx-warning { background: url(../images/icon/bx-warning.svg) no-repeat center !important; }
.bx-north { background: url(../images/icon/bx-north.svg) no-repeat center !important; }
.bx-south { background: url(../images/icon/bx-south.svg) no-repeat center !important; }

/*----Fill Style-----*/
.bx-fill-account-circle{ background: url(../images/icon/bx-fill-account-circle.svg) no-repeat center !important; }
.bx-fill-savings{ background: url(../images/icon/bx-fill-savings.svg) no-repeat center !important; }
.bx-fill-breaking-news{ background: url(../images/icon/bx-fill-breaking-news.svg) no-repeat center !important; }
.bx-fill-quick-reference-all{ background: url(../images/icon/bx-fill-quick-reference-all.svg) no-repeat center !important; }
.bx-fill-package{ background: url(../images/icon/bx-fill-package.svg) no-repeat center !important; }
.bx-fill-payments { background: url(../images/icon/bx-fill-payments.svg) no-repeat center !important; }
.bx-fill-checkbook{ background: url(../images/icon/bx-fill-checkbook.svg) no-repeat center !important; }
.bx-fill-profile { background: url(../images/icon/bx-fill-profile.svg) no-repeat center !important; }
.bx-fill-calculate{ background: url(../images/icon/bx-fill-calculate.svg) no-repeat center !important; }
.bx-fill-conversion-path{ background: url(../images/icon/bx-fill-conversion-path.svg) no-repeat center !important; }
.bx-fill-assignment-turned { background: url(../images/icon/bx-fill-assignment-turned.svg) no-repeat center !important; }
.bx-fill-credit-card{ background: url(../images/icon/bx-fill-credit-card.svg) no-repeat center !important; }
.bx-fill-diversity { background: url(../images/icon/bx-fill-diversity.svg) no-repeat center !important; }
.bx-fill-category { background: url(../images/icon/bx-fill-category.svg) no-repeat center !important; }
.bx-fill-campaign{ background: url(../images/icon/bx-fill-campaign.svg) no-repeat center !important; }
.bx-fill-book2 { background: url(../images/icon/bx-fill-book2.svg) no-repeat center !important; }
.bx-fill-bookmark-star{ background: url(../images/icon/bx-fill-bookmark-star.svg) no-repeat center !important; }

.bx-fill-add-circle { background: url(../images/icon/bx-fill-add-circle.svg) no-repeat center !important; }
.bx-fill-alarm { background: url(../images/icon/bx-fill-alarm.svg) no-repeat center !important; }
.bx-fill-analytics { background: url(../images/icon/bx-fill-analytics.svg) no-repeat center !important; }
.bx-fill-bedtime { background: url(../images/icon/bx-fill-bedtime.svg) no-repeat center !important; }
.bx-fill-cancel { background: url(../images/icon/bx-fill-cancel.svg) no-repeat center !important; }
.bx-fill-check-circle { background: url(../images/icon/bx-fill-check-circle.svg) no-repeat center !important; }
.bx-fill-create-folder { background: url(../images/icon/bx-fill-create-folder.svg) no-repeat center !important; }
.bx-fill-delete-forever { background: url(../images/icon/bx-fill-delete-forever.svg) no-repeat center !important; }
.bx-fill-find-page { background: url(../images/icon/bx-fill-find-page.svg) no-repeat center !important; }
.bx-fill-folder-shared { background: url(../images/icon/bx-fill-folder-shared.svg) no-repeat center !important; }
.bx-fill-help { background: url(../images/icon/bx-fill-help.svg) no-repeat center !important; }
.bx-fill-home { background: url(../images/icon/bx-fill-home.svg) no-repeat center !important; }
.bx-fill-info { background: url(../images/icon/bx-fill-info.svg) no-repeat center !important; }
.bx-fill-leaderboard { background: url(../images/icon/bx-fill-leaderboard.svg) no-repeat center !important; }
.bx-fill-overview { background: url(../images/icon/bx-fill-overview.svg) no-repeat center !important; }
.bx-fill-print { background: url(../images/icon/bx-fill-print.svg) no-repeat center !important; }
.bx-fill-quick-reference { background: url(../images/icon/bx-fill-quick-reference.svg) no-repeat center !important; }
.bx-fill-settings { background: url(../images/icon/bx-fill-settings.svg) no-repeat center !important; }
.bx-fill-stacks { background: url(../images/icon/bx-fill-stacks.svg) no-repeat center !important; }
.bx-fill-tab-move { background: url(../images/icon/bx-fill-tab-move.svg) no-repeat center !important; }
.bx-fill-task { background: url(../images/icon/bx-fill-task.svg) no-repeat center !important; }
.bx-fill-view-kanban { background: url(../images/icon/bx-fill-view-kanban.svg) no-repeat center !important; }





i[class^="bx-"]{display: block;}

/************************************ icons Size S ************************************/

.icon-xxs{width:12px; height: 12px !important;} 
.icon-xs{width:16px; height: 16px !important;}    
.icon-s{width:20px; height: 20px} 
.icon-sm{width:24px; height:24px	;} 
.icon-m{width:28px; height:28px;} 
.icon-lg{width:36px; height:36px	;} 
.icon-xl{width:48px; height:48px	;} 
.icon-xxl{width:60px; height:60px;} 

i[class^="bx-"].icon-xxs,
span[class^="bx-"].icon-xxs,
div[class^="bx-"].icon-xxs,
button[class^="bx-"].icon-xxs{ background-size:14px 14px !important;}

i[class^="bx-"].icon-xs,
span[class^="bx-"].icon-xs,
div[class^="bx-"].icon-xs,
button[class^="bx-"].icon-xs{ background-size:18px 18px !important;}

i[class^="bx-"].icon-s,
span[class^="bx-"].icon-s,
div[class^="bx-"].icon-s,
button[class^="bx-"].icon-s{ background-size:22px 22px !important;}

i[class^="bx-"].icon-sm,
span[class^="bx-"].icon-sm,
div[class^="bx-"].icon-sm,
button[class^="bx-"].icon-sm{ background-size:26px 26px !important;}

i[class^="bx-"].icon-m,
span[class^="bx-"].icon-m,
div[class^="bx-"].icon-m,
button[class^="bx-"].icon-m{ background-size:30px 30px !important;}

i[class^="bx-"].icon-lg,
span[class^="bx-"].icon-lg,
div[class^="bx-"].icon-lg,
button[class^="bx-"].icon-lg{ background-size:38px 38px !important;}

i[class^="bx-"].icon-xl,
span[class^="bx-"].icon-xl,
div[class^="bx-"].icon-xl,
button[class^="bx-"].icon-xl{ background-size:50px 50px !important;}

i[class^="bx-"].icon-xxl,
span[class^="bx-"].icon-xxl,
div[class^="bx-"].icon-xlx,
button[class^="bx-"].icon-xxl{ background-size:62px 62px !important;}


html[data-sidebar-size="lg"] {
   #navbar .gnb button span.icon{ background-size:22px 22px !important;}
}



   /************************************ icons Size E ************************************/

   /************************************ icons Color S ************************************/

   /* icon svg컬러 셋팅 */
   .bx-icon-white{filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(344deg) brightness(101%) contrast(104%);}



   /************************************ icons Color E ************************************/

   /************************************ Mobile icon S ************************************/
   .bx-back {background: url(../images/common/arr-left.svg) no-repeat center !important; }
   .bx-home {background: url(../images/common/ico-home.svg) no-repeat center !important; }
   .bx-menu {background: url(../images/common/ico-menu.svg) no-repeat center !important; }

   /************************************ Mobile icon E ************************************/

   /************************************ btn icon S ************************************/
     .refresh {}
     .search {}
     .excel {}
   /************************************ btn icon E ************************************/