@charset "utf-8";

/************************************ layout Style S ****************************************/

.layout-container{margin: 0; padding: 5.6rem 0 0;}

/*header */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 5.6rem;
    padding:1.5rem 5.3rem;
    background-color: #fff;
    width: 100%;
    .page-header-logo{
        background: url(../images/common/bxui_logo.png) no-repeat center ;
        width: 10.6rem; 
        height: 4rem; 
        display: block;
        background-size: 8rem auto;
        font-size: 0;
        position: absolute;
        left:.8rem ;
        top: .8rem;}
    .page-header-title {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.6rem;
        text-align: center;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
     }
    button{ position: absolute;
        display: flex; 
        justify-content: center;
        align-items: center;
        top: .8rem;
        width: 4rem;
        height: 4rem;       
        background-repeat: no-repeat;
        background-position: 50%; background: transparent;

        &.btn-back{ left: .8rem;background-size: 2.4rem;}
        &.btn-home{ right: .8rem;}    
        &.btn-menu{ right: .8rem;}                 
        i { font-size: 0; width: 2.4rem; height: 2.4rem; display: block;  background-size: 2.4rem;
        }

    }    
}

.page-content{min-height: calc(100vh - 6rem ) ; padding-bottom: 7rem;
    & > .sub-content { display: flex ; flex-direction: column; padding: 0 2.4rem ;

    }
}


.page-footer { 
    position: fixed; bottom: 0; width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; box-shadow: rgba(0, 0, 0, 0.06) 0 -.5rem 1rem 0;
    button {
        padding: .5rem 1.6rem; text-align: center; width: 100%; font-size: 1.3rem; font-weight: 600; 
        line-height: 2rem; vertical-align: middle; height: 6rem; color: #000; 
        background: #ffffff; border-radius: unset !important; display: flex ; 
        flex-direction: column; flex-wrap: nowrap; align-content: center; 
        align-items: center; justify-content: center; 
        
        i { width: 3rem; height: 3rem; background-size: 3rem !important; }
        span{  font-size: 1.3rem; line-height: 1.3rem;}
}
    
}


/************************************ layout Style S ****************************************/

/************************************ content Style S ****************************************/

.cmm-form { display: inline-block; position: relative; vertical-align: bottom; box-sizing: border-box; }

.sub-content .view-box .col-01 > * { width: 100%; }
.sub-content .view-box .col-02 > * { width: 50%; }
.sub-content .view-box .col-03 > * { width: 33.33%; }
.sub-content .view-box .col-04 > * { width: 25%; }
.sub-content .view-box .col-05 > * { width: 20%; }
.sub-content .view-box .col-06 > * { width: 16.666%; }
.sub-content .view-box .col-07 > * { width: 14.285%; }

.sub-content .view-box *[class^="col-"] .full { width: 100%; }
.sub-content .view-box *[class^="col-"] .half { width: 50%; }

.sub-content .view-box .col-03 .num02 { width: 66.66%; }
.sub-content .view-box .col-04 .num02 { width: 50%; }
.sub-content .view-box .col-04 .num03 { width: 75%; }
.sub-content .view-box .col-05 .num02 { width: 40%; }
.sub-content .view-box .col-05 .num03 { width: 60%; }
.sub-content .view-box .col-05 .num04 { width: 80%; }
.sub-content .view-box .col-06 .num02 { width: 33.332%; }
.sub-content .view-box .col-06 .num03 { width: 49.998%; }
.sub-content .view-box .col-06 .num04 { width: 66.664%; }
.sub-content .view-box .col-06 .num05 { width: 83.33%; }
.sub-content .view-box .col-07 .num02 { width: 28.57%; }
.sub-content .view-box .col-07 .num03 { width: 42.855%; }
.sub-content .view-box .col-07 .num04 { width: 57.14%; }
.sub-content .view-box .col-07 .num05 { width: 71.425%; }
.sub-content .view-box .col-07 .num06 { width: 85.71%; }


/* 태블릿 (768px ~ 1024px) */
@media screen and (max-width: 1024px) {

// .sub-content .view-box .col-04 > *, 
// .sub-content .view-box .col-05 > *, 
// .sub-content .view-box .col-06 > *, 
// .sub-content .view-box .col-07 > *, 
// .sub-content .view-box .col-05 .num02,
// .sub-content .view-box .col-06 .num02,
// .sub-content .view-box .col-07 .num02 { width: 33.33%; }
// .sub-content .view-box .col-04 .num02,
// .sub-content .view-box .col-06 .num03,
// .sub-content .view-box .col-07 .num03 { width: 50%; }
// .sub-content .view-box .col-04 .num03, 
// .sub-content .view-box .col-05 .num03,
// .sub-content .view-box .col-06 .num04,
// .sub-content .view-box .col-07 .num04 { width: 66.66%; }
// .sub-content .view-box .col-05 .num04,
// .sub-content .view-box .col-06 .num05,
// .sub-content .view-box .col-07 .num05,
// .sub-content .view-box .col-07 .num06 { width: 100%; }
// .sub-content .view-box .col-04 .half-minus { margin-right: 33.33%; }
// .sub-content .view-box .col-04 .half-plus { margin-left: 33.33%; }
// .sub-content .view-box .col-04 .half-num04 { margin-right: 16.8%; }
}
/* 모바일 */
@media screen and (max-width: 768px) {
// .sub-content .view-box *[class^="col-"] .half, 
// .sub-content .view-box .col-02 > .cmm-form, 
// .sub-content .view-box .col-03 > .cmm-form, 
// .sub-content .view-box .col-04 > .cmm-form, 
// .sub-content .view-box .col-05 > .cmm-form { width: 50% !important;}
// .sub-content .view-box .col-03 .num02, 
// .sub-content .view-box .col-04 .num02, 
// .sub-content .view-box .col-04 .num03, 
// .sub-content .view-box .col-05 .num02,
// .sub-content .view-box .col-05 .num03, .sub-content .view-box .col-05 .num04 { width: 100% !important; }
// .sub-content .view-box .col-01 .top-box, .sub-content .view-box .col-02 .top-box, .sub-content .view-box .col-03 .top-box, .sub-content .view-box .col-04 .top-box, .sub-content .view-box .col-05 .top-box { width: 100% !important; }
// .sub-content .view-box .col-03 .half-minus, .sub-content .view-box .col-04 .half-minus, .sub-content .view-box .col-05 .half-minus { margin-right: 0%; }
// .sub-content .view-box .col-03 .half-plus, .sub-content .view-box .col-04 .half-plus, .sub-content .view-box .col-05 .half-plus { margin-left: 0%; }
// .sub-content .view-box .col-04 .half-num04 { margin-right: 0%; }



}
.sub-content .view-box *[class^="col-"]{ margin-left: -8px;margin-right: -8px;}
.sub-content .view-box *[class^="col-"] .cmm-form {padding-left: 8px; padding-right: 8px;}
// .sub-content .view-box .col-01{ margin-left:0;margin-right:0;}
// .sub-content .view-box .col-01 .cmm-form {padding-left:0; padding-right: 0;}


/************************************ content Style E ****************************************/