allowed-build-scripts=core-js-pure,esbuild,unrs-resolver,@biomejs/biome
only-built-dependencies[]=core-js-pure
only-built-dependencies[]=esbuild
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=@biomejs/biome