.item > * + * {
  margin-top: 6px;
}

.label {
  display: block;
  color: currentColor;
  font-size: 0.875rem;
  font-weight: 500;
}

.required {
  margin-left: 4px;
  color: var(--form-error);
}

.description {
  color: var(--muted);
  font-size: 0.75rem;
}

.error {
  color: var(--form-error);
  font-size: 0.75rem;
}
