@import "tailwindcss";

.layout {
  @apply h-full w-full bg-white;

  .header {
    @apply flex w-full items-center h-16 p-[7px];

    .left {
      flex: 2 2 0%;
      @apply flex items-center justify-start;
    }

    .center {
      flex: 6 6 0%;
      @apply flex items-center justify-center text-xl font-bold;
    }

    .right {
      flex: 2 2 0%;
      @apply flex items-center justify-end;
    }
  }

  .body {
    @apply p-[10px];
  }

  .footer {
    @apply p-[10px];
  }
}
