.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-inline: 24px;
  background-image: linear-gradient(
    to bottom right,
    var(--mobile-not-found-gradient-start),
    var(--mobile-not-found-gradient-end)
  );
  text-align: center;
}

.emoji {
  margin-bottom: 16px;
  font-size: 60px;
  line-height: 1;
}

.code {
  margin-bottom: 8px;
  color: var(--mobile-not-found-code);
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.title {
  margin-bottom: 8px;
  color: var(--mobile-not-found-title);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.description {
  margin-bottom: 24px;
  padding-bottom: 20px;
  color: var(--mobile-not-found-description);
}

.homeLink {
  display: inline-block;
  padding: 12px;
  border-radius: 9999px;
  color: var(--mobile-not-found-action-foreground);
  background-color: var(--mobile-not-found-action);
  font-size: 16px;
  font-weight: 800;
  transition: all 150ms;
}
