.userAvatar {
  padding: 60px;
}

.dividerContainer {
  height: 20px;
  padding-block: 20px;
}

.divider {
  position: absolute;
  right: 0;
  left: 0;
  width: auto;
  height: 1px;
  background-color: var(--mobile-border-control);
}

.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.description {
  color: var(--mobile-text-secondary);
  font-size: 14px;
  line-height: 20px;
}

.editButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: 40px;
  border: 1px solid var(--mobile-border-control);
  border-radius: 6px;
  color: var(--mobile-text-strong);
  background-color: var(--mobile-surface);
}
