.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
}

.name {
  padding-top: 8px;
  font-size: 0.875rem;
  font-weight: 700;
}
