.transferAmountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 16px 24px;
}

.receiverInfo {
  width: 100%;
  text-align: left;
}

.receiverName {
  color: #000;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.receiverBankName {
  color: oklch(55.1% 0.027 264.364);
  font-size: 14px;
  line-height: 20px;
}

.receiverAccountNo {
  color: oklch(70.7% 0.022 261.325);
  font-size: 14px;
  line-height: 20px;
}

.amountInputSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.amountInputTitle {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.amountInputContainer {
  position: relative;
  width: 100%;
}

.amountInput {
  width: 100%;
  padding: 16px 40px 16px 16px;
  border: 1px solid oklch(87.2% 0.01 258.338);
  border-radius: 12px;
  font-size: 18px;
  line-height: 28px;
  text-align: right;
}

.amountInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px oklch(62.3% 0.214 259.815);
}

/* 단위(원) 위치 고정 */
.amountUnit {
  position: absolute;
  top: 50%;
  right: 20px;
  color: oklch(70.7% 0.022 261.325);
  font-size: 16px;
  line-height: 24px;
  transform: translateY(-50%);
}

.ownAccountInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 16px;
  border-radius: 12px;
  color: oklch(44.6% 0.03 256.802);
  background-color: oklch(96.7% 0.003 264.542);
  font-size: 16px;
  line-height: 24px;
}

.submitButton {
  position: fixed;
  bottom: 32px;
  left: 50%;
  width: calc(100% - 4rem);
  padding-block: 16px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  transform: translateX(-50%); /* 화면 중앙 정렬 + 아래 여백 */
  transition: color 200ms, background-color 200ms, border-color 200ms;
}

/* 활성화 상태 (amount 있을 때) */
.enabled {
  color: #fff;
  background-color: oklch(62.3% 0.214 259.815);
}

.enabled:hover {
  background-color: oklch(54.6% 0.245 262.881);
}

/* 비활성화 상태 (amount 없을 때) */
.disabled {
  color: oklch(70.7% 0.022 261.325);
  background-color: oklch(92.8% 0.006 264.531);
  cursor: not-allowed;
}
