.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--foreground);
}

.layout .name {
  font-size: 1.125rem;
  font-weight: 800;
}

.subMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subMenu .name {
  font-size: 1rem;
}
